<div class="center-finder" ng-controller="centerFinderController">
	<a class="login">Login</a>

	<div class="search-box-row"> 
		

		
    <input type="text"  id="pac-input" placeholder="Search center locations" class="form-control controls">
    
	</div>


	<div id="map"></div>



	
	<div class="footer">
		<ul>
			<li><a ui-sref="contact">Contact us</a></li>
			<li><a ui-sref="about-us">About us</a></li>
			<li><a ui-sref="feedback">Feedback</a></li>

	</div>	
   

</div>