<div class="default-container">
	<h2>Transcendental Meditation</h2>
<p>
Our founder Maharishi Mahesh Yogi is the foremost scientist in the nature of consciousness and the greatest teacher of our time.</p>

<p>Transcendental Meditation is the most widely practised and extensively researched programme of self-development in the world. Over the past 51 years Maharishi established a worldwide organisation with centres in 108 countries. Hundreds of books have been published about Maharishi's teachings, which have been translated into many languages.</p>

<a href="">Read more about Maharishi Mahesh Yogi</a>

</div>