<div ng-controller="splashController">
    <div class="logoWrap">

        <div class="logo">
            <img src="img/tm_new.png" />
        </div>
        <div class="cs-loader">
          <div class="cs-loader-inner">
            <label></label>
            <label></label>
            <label></label>
            <label></label>
          </div>
        </div>
    </div>

    
    <div id="map"></div>
</div>