/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background:#FFF;    
    font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.logoWrap {
  position: absolute;
  left: 0;
    right: 0;
    top: 30%;
}
.logo {
width: 100px;
    margin: 0 auto;
    
    
}

.logo img {
    max-width: 100%;
}


.cs-loader {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.cs-loader-inner {
  position: absolute;
  width: calc(100%);
  color: #FFF;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 1.6rem;
  display:inline-block;
  background:#4ba2df;
  width:10px;
  height:10px;
  border-radius: 10px;

}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}


/*center finder*/

.center-finder {
    background: url(../img/center-finder-bg.jpg) no-repeat top left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    top: 0;
}
.center-finder .login {
        padding: 10px 20px 10px;
    color: #e78400;
    font-size: 16px;
    right: 0;
    position: fixed;
    z-index: 100;
    background: #FFF;

}

.search-box-row {
    display: block;
    clear: both;
    padding:10px;
    position: absolute;
    top:25%;
    left:0;
    right:0;
    z-index: 9999;
}
#pac-input {
    font-size: 18px;
    padding: 15px;
    text-overflow: ellipsis;
    width: 100%;
    box-shadow: none;
    color: #666;
    float: left;
    border: none;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

 .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }



html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 62.5%; 
      }
      #map {
        height: 100%;
      }

      body  {
        font-size:14px;
      }

.footer {
      position: fixed;
    bottom: 0;
    z-index: 100;
    background: #FFF;
    width: 100%;
}

.footer li {
    display: inline-block;
    padding: 5px 10px;
}
.footer li a {
      color: #e78400;
}
.default-container {
  padding:10px;
}
p,a {
  font-size: 1.2rem
}
h2 {
  font-size: 1.6rem
}
.default-container h2 {
      color: #e78400!important;
      font-size:2rem;
      margin:0;
      padding:0;
      padding-bottom:20px;
      font-size: 1.6rem
}
.default-container p {
  color:#252625;
  margin:0;
      padding:0;
  padding-bottom:20px;
  
}
.default-container a {
    font-size: 1.2rem
}